<!-- Header -->

<header class="z-50 xl:ml-{{sidebarExtended ? '72' : '16'}} sticky top-0">
    <div class="w-full bg-card/90 backdrop-blur-lg md:px-6 px-[15px] py-3 border-b">
        <div class="flex justify-between items-center h-full">
            <div class="flex items-center md:gap-6 gap-3">
                <button class="relative hidden xl:block group disabled:cursor-not-allowed opacity-50"
                    (click)="hamburgerClicked()">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <button class="relative block xl:hidden group disabled:cursor-not-allowed opacity-50"
                    (click)="openMenudialog()">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <div class="nav-tools flex items-center  gap-2">
                right side
            </div>
        </div>
    </div>
</header>

<!--Sidebar-->
<div
    class="main-sidebar pointer-events-none w-0 xl:w-auto overflow-hidden fixed start-0 top-0 z-[60] flex h-full xl:z-10 print:hidden">
    <div
        class="border-default-200  pointer-events-auto relative z-20 flex h-full w-16 flex-col border-r border-dashed bg-card transition-all duration-300 translate-x-0">
        <div class="pt-4">
            <img src="./assets/logo/ikeLogo.svg" alt="" class="w-12 mx-auto">
        </div>
        <div class="relative overflow-hidden pt-6 grow">
            <!-- Link Button List -->
            <div class="h-full w-full rounded-[inherit]">
                <div class="min-w-full table">
                    @for (menu of sidebarMenuList; track $index) {
                    <div class="mb-3 last:mb-0">
                        <button class="h-12 w-12 mx-auto rounded-md transition-all duration-300 flex flex-col items-center justify-center cursor-pointer relative
                             *:hover:text-indigo-800 *:hover:font-medium *:hover:scale-105"
                            (click)="menuClicked(menu)">
                            <div [outerHTML]="menu.iconHtml">
                            </div>
                            <span class="text-slate-500 text-xs">{{menu.text}}</span>
                        </button>
                    </div>
                    }

                </div>
            </div>
        </div>
        <div class="space-y-5 flex flex-col items-center justify-center pb-6">
            <button
                class="w-11 h-11 mx-auto text-default-500 flex items-center justify-center  rounded-md transition-all duration-200 hover:bg-primary hover:text-primary-foreground">
                <i class="fa-solid fa-gear fa-lg text-slate-400"></i>
            </button>
        </div>
    </div>

    <!-- Sidebar Extended -->
    <div class="bg-white border-default-200 pointer-events-auto relative z-10 flex flex-col h-full 
    border-r bg-card transition-all duration-300 w-{{sidebarExtended ? '60' : '0'}}">
        <div class="border-default-200 pointer-events-auto relative z-30 flex flex-col border-r bg-card transition-all duration-300 overflow-hidden"
            [ngStyle]="{ 'width.px': sidebarExtended ? 228 : 0 }">
            <h2
                class="text-lg bg-transparent z-50 font-semibold flex gap-4 items-center text-default-700 sticky top-0 py-4 px-4">
                <span class="block">{{selectedMenu.text}}</span>
            </h2>
        </div>
        <div class="relative overflow-hidden h-[calc(100%-40px)] grow">
            <div class="h-full w-full rounded-[inherit]">
                <div class="min-w-full table">
                    <div class="px-4">
                        <ul>
                            @for (child of selectedMenu.children; track $index) {
                            <li class="mb-1.5 last:mb-0">
                                <div class="flex-1">
                                    <a href="#"
                                        class="flex font-medium text-sm capitalize px-[10px] py-3 gap-3 rounded-md cursor-pointer bg-indigo-700 text-white">
                                        <span class="inline-flex items-center flex-grow-0">
                                            <div [innerHtml]="child.iconHtml"></div>
                                        </span>
                                        <div class="flex-grow truncate">
                                            {{child.text}}
                                        </div>
                                    </a>
                                </div>
                            </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="h-full w-full bg-transparent fixed top-0 left-0" [hidden]="!menuDialogShow" (click)="openMenudialog()">

</div>

<div class="fixed {{menuDialogShow ? 'translate-x-1/4 translate-y-1/3' : '-translate-x-full -translate-y-0'}} transition-all duration-500 
z-20 h-{{menuDialogShow ? '72' : '0'}} w-4/6 m-auto bg-white rounded-xl overflow-y-scroll border-2 border-slate-400">

    <div class="sticky top-0 bg-white flex flex-row-reverse">
        <button class="relative block mr-4 opacity-50" (click)="openMenudialog()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    
    @for(menu of sidebarMenuList; track menu) {
    <div class="flex flex-col first:border-t-0 border-2 border-gray-200">
        <div class="flex px-2 py-1">
            <div [innerHtml]="menu.iconHtml" class="text-slate-400"></div>
            <span class="font-medium text-indigo-600 ml-1">{{menu.text}}</span>
        </div>
        <ul>
            @for(child of menu.children; track child) {
            <li class="">
                <a href="/app" class="my-2 flex ml-6">
                    <div [innerHtml]="child.iconHtml" class="mx-1 text-gray-500"></div>
                    {{child.text}}
                </a>
            </li>
            }
        </ul>

    </div>
    }
</div>